<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/charsheet.css">
    <title>Character: {{pc.name}}</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
	<iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe>
  <div class="charsheet">
    <img src="/static/img/portraits/{{pc.metadata.portrait}}" class="portrait medium"/>
    <div class="metadata texttable">
      <strong>Name:</strong> {{pc.name}}
      <strong>Age:</strong> {{pc.metadata.age}}
      <strong>Gender:</strong> {{pc.metadata.gender}}
      <strong>Race:</strong> {{pc.metadata.race}}
      <strong>Hair:</strong> {{pc.metadata.hair}}
      <strong>Eyes:</strong> {{pc.metadata.eyes}}
      <strong>Calling:</strong> {{pc.metadata.calling}}
    </div>
    <div class="nimbus">
      <strong>Nimbus:</strong><br/>
      {% for stat in pc.nimbus.values() %}
        {{stat.name}} +{{stat.value}}<br/>
      {% endfor %}
    </div>
  	<div class="abilities table">
  		{% for stat in pc.abilities.values() %}
  			<strong>{{stat.name}}:</strong>
			<div>
				{{stat.value}}
				{% if (pc.get('Abilities') >= 1 or pc.get('Unbound') >= 5) and stat.base < stat.maxval %} <a href="/character/{{id}}/train/{{stat.name}}">+</a> {% endif %}
			</div>
  		{% endfor %}
  	</div>
    <div class="resistances">
      <div> Resistance </div>
      <div> Max. </div>
      <div> L </div>
      <div> M </div>
      <div> S </div>
      {% for stat in pc.resistances.values() %}
        <strong>{{stat.name}}:</strong>
        <div> {{stat.value}} </div>
        <div> {{stat.light}} </div>
        <div> {{stat.medium}} </div>
        <div> {{stat.severe}} </div>
      {% endfor %}
    </div>
    <div class="experience">
      {% for stat in pc.experience.values() %}
        <div><strong>{{stat.name}}:</strong> {{stat.value}}</div>
      {% endfor %}
    </div>
    <div class="needs table">
      {% for stat in pc.needs.values() %}
        <strong>{{stat.name}}:</strong> {{stat.value}}
      {% endfor %}
    </div>
    <div class="bio">
      {{pc.metadata.bio}}
    </div>
    <div class="skills">
      <div> Skill </div>
      <div> Base </div>
      <div> Modifier </div>
      <div> Effective </div>
      {% for stat in pc.skills.values() %}
      <strong>{{stat.name}}:</strong>
	  <div>
		{{stat.base}}
		{% if (pc.get('Skills') >= 1 or pc.get('Unbound') >= 1) and stat.base < stat.maxval %} <a href="/character/{{id}}/train/{{stat.name}}">+</a> {% endif %}
	  </div>
      <div> {{stat.mod_stat.name}} </div>
      <div> {{stat.value}} </div>
      {% endfor %}
    </div>
    <div class="aspects">
      <div> Aspect </div>
      <div> Conviction </div>
      {% for stat in pc.aspects.values() %}
        <strong>{{stat.name}}</strong>
        <div>{{stat.conviction}}</div>
      {% endfor %}
    </div>
  </div> <!-- charsheet -->
	<br/>
	<a href="/party">Back<a>
  </body>
</html>
