<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Ohai, traveller!</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
    <iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe><br/><br/>
    <strong>Warning:</strong> This is an early development build. There is no autosave, no confirmation dialog, no undo.<br/>
    If you care about your progress, save early and often.<br/><br/>
    <a href="/new">New Game</a><br/><br/>
    <form id="RegisterForm" method="post" action="/">
      <div style="width: 350px; display: grid; grid-template-columns: 30% 45% 25%; grid-row-gap: 5px;">
        Save game as: <input type="text" name="slot"/> <button type="submit"> Save</button>
      </div><br/>
      <div style="color: red">
        {% for error in errors %}
          Error: {{error}}<br/><br/>
        {% endfor %}
      </div>
    </form>
    Saved games:<br/>
    <div style="width: 250px; display: grid; grid-template-columns: 55% 15% 12% 18%; grid-row-gap: 5px;">
      {% for slot in user.slots %}
        {{slot}} <a href="/load/{{slot}}">Load</a> <div style="margin-left: auto; margin-right: auto;">or</div> <a href="/delete/{{slot}}">Delete</a>
      {% endfor %}
    </div>
  </body>
</html>
