<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="stylesheet" href="/static/css/common.css">
    <title>My Party</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
  	<iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe><br/><br/>
  	{% for pc in party.pcs %}
  		<a href="/character/{{loop.index}}">{{pc.name}}</a><br/>
  	{% endfor %}
  	<br/>
  	<a href="/">Back<a>
  </body>
</html>
