.charsheet
{
	background-color: #cce;

	border: double 2px #88a;
	border-radius: 5px;

	margin-top: 20px;
	margin-left: 20px;
	padding: 8px;
	padding-left: 10px;
	padding-right: 40px;

	width: 740px;
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	grid-template-areas:
	'portrait meta nimbus nimbus'
	'experience experience experience experience'
	'abilities resistances resistances needs'
	'abilities bio bio bio'
	'skills skills aspects aspects';

	grid-template-columns: 25% 25% 25% 25%;
}
.charsheet > div
{
	background-color: #dde;
	border-top: double 1px #99c;
	border-bottom: double 1px #333;
	border-left: double 1px #bbd;
	border-right: double 1px #777;
	border-radius: 5px;
	padding-left: 15px;
}
.charsheet > .portrait
{
	margin-left: auto;
	margin-right: auto;
	align-self: center;
}
.charsheet > .metadata
{
	grid-area: meta;
	grid-template-columns: 50% 50%;
	display: grid;
}
.charsheet > .nimbus
{
	grid-area: nimbus;
}
.charsheet > .experience
{
	grid-area: experience;
	grid-template-columns: 20% 20% 20% 20% 20%;
	display: grid;
	border-radius: 5px;
}
.charsheet > .abilities
{
	grid-area: abilities;
}
.charsheet > .resistances
{
	grid-area: resistances;
	grid-template-columns: 35% 20% 15% 15% 15%;
	grid-auto-rows: min-content;
	display: grid;
}
.charsheet > .needs
{
	grid-area: needs;
}
.charsheet > .bio
{
	grid-area: bio;
	height: 72px;
}
.charsheet > .skills
{
	grid-area: skills;
	grid-template-columns: 35% 15% 30% 20%;
	display: grid;
	padding-bottom: 5px;
}
.charsheet > .aspects
{
	grid-area: aspects;
	grid-template-columns: 30% 70%;
	grid-auto-rows: min-content;
	display: grid;
}
.charsheet > .texttable
{
	grid-template-columns: 40% 60%;
	grid-auto-rows: min-content;
	display: grid;
}
.charsheet > .table
{
	grid-template-columns: 70% 30%;
	grid-auto-rows: min-content;
	display: grid;
}

.portrait
{
	border: double 3px black;
	border-radius: 5px;
	grid-area: portrait;
}
.portrait.small
{
	width: 64px;
	height: 64px;
}
.portrait.medium
{
	width: 128px;
	height: 128px;
}
.portrait.large
{
	width: 256px;
	height: 256px;
}
