.combatScreen
{
	margin-top: 20px;
	margin-left: 20px;
	padding: 8px;
	padding-left: 10px;
	padding-right: 40px;

	width: 100%;
	display: grid;
	grid-row-gap: 10px;
	grid-column-gap: 10px;

	grid-template-areas:
	'initiative map map empty1'
	'initiative map map empty1'
	'action info info empty3'
	'action info info empty3'
	'chat chat chat empty2';

	grid-template-columns: 25% 25% 25% 25%;
}
.combatScreen > div
{
	background-color: #dde;
	border: double 2px black;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
}
.combatScreen > .initiative
{
	grid-area: initiative;
	overflow-y: scroll;
	overflow-x: hidden;
}
.combatScreen > .map
{
	grid-area: map;
	width: 500px;
	height: 500px;
}
.combatScreen > .chat
{
	grid-area: chat;
	height: 250px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.combatScreen > .action
{
	grid-area: action;
	height: 120px;
}
.combatScreen > .info
{
	grid-area: info;
	height: 120px;
	width: 260px;

	display: grid;
	grid-column-gap: 20px;
	grid-template-columns: 50% 50%;

	grid-template-areas: 'player target';
}
.info > .target
{
	grid-area: target;
	height: 120px;
	width: 120px;

	display: grid;
	grid-row-gap: 2px;
	grid-auto-rows: min-content;
}
.info > .player
{
	grid-area: player;
	height: 120px;
	width: 120px;

	display: grid;
	grid-row-gap: 2px;
	grid-auto-rows: min-content;
}

.healthBarFrame
{
	height: 10px;
	width: 100px;
	border: double 3px black;
	border-radius: 4px;
}

.healthBar
{
  height: 10px;
}
.healthBar.red
{
  background-color: red;
}
.healthBar.green
{
  background-color: green;
}
.healthBar.yellow
{
  background-color: orange;
}
.healthBar.blue
{
  background-color: blue;
}

.portrait
{
	border: double 3px black;
	border-radius: 5px;
}
.portrait.small
{
	width: 48px;
	height: 48px;
}
.portrait.medium
{
	width: 100px;
	height: 100px;
}
.portrait.overlay {
    position: relative;
    top: 0px;
    left: -60px;
    z-index: 1;
}

.initiative
{
	display: grid;
	grid-row-gap: 2px;
	grid-auto-rows: min-content;
}

.character
{
	background-color: #bbd;
	display: grid;
	grid-template-columns: 60px 0px 50%;

	height: 55px;
	border-radius: 5px;

	cursor: pointer;
}
.character.hilight
{
		background-color: #ddf;
}
.character > span
{
	display: inline-block;
  vertical-align: middle;
	margin-top: 15px;
	/*margin-bottom: 10px;*/
}
.character > .friend
{
	color: green;
}
.character > .foe
{
	color: red;
}
.character.active
{
	border: double 3px black;
	/*background-color: #ffb !important;*/
}
.character.targeted
{
	border: double 1px black;
	background-color: #ffb !important;
}
