a{
	border-radius: 3px;
	background: rgba(50, 50, 50, 0.3);
	/*padding: 3px;*/
}
a:link
{
	color: #e0e000;
}
a:visited
{
	color: #e0e000;
}
a:hover
{
	color: #ffcc50;
}

.sheet
{
	background-color: #cce;

	border: double 2px #88a;
	border-radius: 5px;

	margin-top: 20px;
	margin-left: 20px;
	padding: 8px;
	padding-left: 10px;
}

.hint
{
	background-color: #ffc;

	border: double 2px #88a;
	border-radius: 5px;

	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding: 8px;
	padding-left: 10px;

	text-align: center;
}

.statstable
{
	grid-template-columns: 80% 20%;
	grid-auto-rows: min-content;
	display: grid;
}

.skillstable
{
	grid-template-columns: 30% 20% 30% 20%;
	grid-auto-rows: min-content;
	display: grid;
}

.texttable
{
	grid-template-columns: 40% 60%;
	grid-auto-rows: min-content;
	display: grid;
}

.tiny
{
	width: 50px;
}
.verysmall
{
	width: 100px;
}
.small
{
	width: 150px;
}
.medium
{
	width: 300px;
}
.large
{
	width: 500px;
}
.huge
{
	width: 700px;
}

.error
{
	background-color: #E99 !important;
}

.hidden
{
	visibility: hidden;
}
