<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="/static/css/common.css">
    <link rel="stylesheet" href="/static/css/combat.css">
    <link rel="stylesheet" href="/static/js/lib/jquery-ui/jquery-ui.css">
    <script src="/static/js/lib/jquery-3.3.1.js"></script>
    <script src="/static/js/lib/jquery-ui/jquery-ui.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/combat.js"></script>
    <title>Defend yourself!</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
    <iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe>
    <div id="combatScreen" class="combatScreen">
      <div id="initiativeWindow" class="initiative">
        {% for char in battle.combatants %}
          <div id="init{{loop.index - 1}}" class="character" onmouseover="hilight(this)" onmouseout="unHilight(this)" onclick="selectTarget({{loop.index - 1}})">
            <img src="/static/img/portraits/{{char.metadata.portrait}}" class="portrait small"/>
            <img id="defeatedOverlay" src="/static/img/icons/status/incapacitated.png" class="portrait overlay small hidden"/>
            <span {% if char.combat_status.team == 0 %}class="friend"{% else %}class="foe"{% endif %}>{{char.name}}</span>
          </div>
        {% endfor %}
      </div>
      <div id="chatWindow" class="chat">
      </div>
      <div id="infoBoxes" class="info">
          <div id="targetWindow" class="target">
            <div id="name">Your Target</div>
            <div id="Toughness">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar red">
                </div>
              </div>
            </div>
            <div id="Agility">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar green">
                </div>
              </div>
            </div>
            <div id="Courage">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar yellow">
                </div>
              </div>
            </div>
            <div id="Intuition">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar blue">
                </div>
              </div>
            </div>
            <span id="penalty"></span>
          </div>
          <div id="playerWindow" class="player">
            <div id="name">Your Target</div>
            <div id="Toughness">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar red">
                </div>
              </div>
            </div>
            <div id="Agility">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar green">
                </div>
              </div>
            </div>
            <div id="Courage">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar yellow">
                </div>
              </div>
            </div>
            <div id="Intuition">
              <div class="healthBarFrame">
                <div id="healthBar" class="healthBar blue">
                </div>
              </div>
            </div>
            <span id="penalty"></span>
          </div>
      </div>
      <div id="actionWindow" class="action">
        <div id="actionPrompt">
            It's your turn.
        </div>
        <div>
          <span id="actionLabel">Your action:</span>
          <select id="action" name="action" class="small">
  			  {% for action in battle.allowed_actions %}
  				<option value="{{action}}">{{action}}</option>{% endfor %}
  		    </select>
            <button type="button" id="execute" onclick="executeAction()">Ok</button>
        </div>
      </div>
      <div id="mapWindow" class="map"> <!-- ToDo: do we want one? -->
        Map/Overview.
      </div>
    </div>
    <div class="frame" id="resultDialog" title="Battle result">
      <span id="resultMessage"></p>
    </div>
  </body>
</html>
