<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link rel="stylesheet" href="/static/css/common.css">
        <link rel="stylesheet" href="/static/css/charsheet.css">
        <title>{{scene.region.name}}</title>
    </head>
    <body background="/static/img/bg/{{scene.bgimage}}">
        <iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe>
        <p>What do you want do to?</p><br/>
        {% for opt in scene.options %}
          <a href="/play?action={{opt.action}}">{{opt.description}}</a><br/>
        {% endfor %}
    </body>
</html>
