<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/lib/jquery-3.3.1.js"></script>
	  <script src="/static/js/common.js"></script>
    <title>New Character</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
  	<iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe><br/><br/>
    <form action="" method="post">
      <input type="hidden" id="maxPoints" value="{{pc.get('Abilities')}}"/>
      <div class="sheet large">
    		{% for stat in pc.abilities.values() %}
          <div class="statstable small" id="abilities">
      			<strong>{{stat.name}}:</strong> <input type="number" name="{{stat.name}}" min="1" max="20" value="{{stat.value}}" class="tiny">
          </div>
          {{codex.get_entry(codex.co_stats, stat.name)}}<br/><br/>
    		{% endfor %}
        <div class="large" style="display: grid; grid-template-columns: 50% 40% 10%; grid-row-gap: 5px;">
          <div id="totalCounter">Remaining points: 0</div>
          <div></div>
          <div><button type="submit" id="nextStep">Next</button></div>
        </div>
      </div>
    </form><br/>
    <div style="color: red">
      {% for error in errors %}
        Error: {{error}}<br/><br/>
      {% endfor %}
    </div>
  </body>
  <script src="/static/js/statpoints.js"></script>
</html>
