<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	  <link rel="stylesheet" href="/static/css/common.css">
    <title>New Character</title>
  </head>
  <body background="/static/img/bg/{{scene.bgimage}}">
  	<iframe src="/header" style="width: 100%; height: 40px; border: none"></iframe><br/><br/>
    <form action="" method="post">
      <div class="sheet large">
        <div class="statstable small" id="age">
          <strong>Age:</strong><input type="number" name="age" min="10" max="300" value="{{pc.metadata.age}}" class="tiny"/>
        </div>
        <div class="texttable medium" style="grid-row-gap: 3px; margin-top: 3px" id="metadata">
          <strong>Name:</strong><input type="text" name="name" value="{{pc.name}}"/>
          <strong>Gender:</strong><input type="text" name="gender" value="{{pc.metadata.gender}}"/>
          <strong>Race:</strong><input type="text" name="race" value="{{pc.metadata.race}}"/>
          <strong>Hair:</strong><input type="text" name="hair" value="{{pc.metadata.hair}}"/>
          <strong>Eyes:</strong><input type="text" name="eyes" value="{{pc.metadata.eyes}}"/>
          <strong>Calling:</strong><input type="text" name="calling" value="{{pc.metadata.calling}}"/>
        </div>
        <div class="statstable small" style="grid-row-gap: 3px; margin-top: 3px" id="needs">
      		{% for stat in pc.needs.values() %}
        			<strong>{{stat.name}}:</strong> <input type="number" name="{{stat.name}}" min="-5" max="5" value="{{stat.value}}" class="tiny">
      		{% endfor %}
        </div>
        <div class="large" style="display: grid; grid-template-columns: 50% 40% 10%; grid-row-gap: 5px;">
          <div></div>
          <div></div>
          <div><button type="submit" id="nextStep">Next</button></div>
        </div>
      </div>
    </form><br/>
    <div style="color: red">
      {% for error in errors %}
        Error: {{error}}<br/><br/>
      {% endfor %}
    </div>
  </body>
</html>
