<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/static/css/common.css">
    <title>Welcome, traveller!</title>
  </head>
  <body>
	 <form id="RegisterForm" method="post" action="">
     <div style="width: 300px; display: grid; grid-template-columns: 40% 60%; grid-row-gap: 5px;">
       Profile name: <input type="text" name="user"/>
       Password: <input type="text" name="password"/>
     </div><br/>
     <button type="submit">Register</button>
     <br/><br/>
     <div style="color: red">
       {% for error in errors %}
         Error: {{error}}<br/>
       {% endfor %}
     </div>
   </form>
  </body>
</html>
